.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

html, body{
    height: 100%;
    margin: 10;
}

body {
    background-image: url(../assets/Img/d2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    color: #fff;
    
}

.programador{
    width: 20rem;
    height: auto;
    border-radius: 5px;
}

section{
    padding: 1.5rem;
}

h2{
    font-size: 5rem;
    letter-spacing: 1rem;
}

.footer {
    color: white;
    padding: 20px;
}

.footer-links a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-links a:hover {
    color: #f43a07; 
}

.footer-copyright {
    color: #dcd4ff;
}

.bi {
    font-size: 18px;
    margin-right: 5px;
}